Repository ANcpLua/ancplua-mcp: changes, and which Mergify rules are due for each by the changed paths.
All: Label .NET changes, Label project changes, Label workflow changes, Label documentation changes

.mergify.yml:

# Mergify Configuration
# Safe auto-merge rules for ancplua-mcp repository
# Documentation: https://docs.mergify.com

queue_rules:
  - name: default
    merge_method: merge
    commit_message_template: |
      {{ title }} (#{{ number }})

      {{ body }}
    merge_conditions:
      # All CI checks must pass
      - check-success=Build and Test
      - check-success=Code Quality
      - check-success=Analyze (csharp)
      - check-success=Security Scan

      # Require at least 1 approval
      - "#approved-reviews-by>=1"

      # No changes requested
      - "#changes-requested-reviews-by=0"

      # Branch must be up to date
      - base=main
      - -draft

  - name: renovate
    merge_method: squash
    commit_message_template: |
      {{ title }} (#{{ number }})
    merge_conditions:
      - check-success=Build and Test
      - check-success=Code Quality
      - base=main

  - name: dependabot
    merge_method: squash
    commit_message_template: |
      {{ title }} (#{{ number }})
    merge_conditions:
      - check-success=Build and Test
      - check-success=Code Quality
      - base=main

pull_request_rules:
  # Auto-merge for Renovate dependency updates (minor/patch only)
  - name: Auto-merge Renovate minor/patch updates
    conditions:
      - author=renovate[bot]
      - check-success=Build and Test
      - check-success=Code Quality
      - -title~=(?i)major
      - -label~=breaking
    actions:
      queue:
        name: renovate

  # Auto-merge for Dependabot updates (minor/patch only)
  - name: Auto-merge Dependabot minor/patch updates
    conditions:
      - author=dependabot[bot]
      - check-success=Build and Test
      - check-success=Code Quality
      - -title~=(?i)major
      - -label~=breaking
    actions:
      queue:
        name: dependabot

  # Auto-merge approved PRs
  - name: Auto-merge approved PRs
    conditions:
      - "#approved-reviews-by>=1"
      - check-success=Build and Test
      - check-success=Code Quality
      - check-success=Analyze (csharp)
      - check-success=Security Scan
      - -draft
      - -label~=do-not-merge
      - -label~=work-in-progress
    actions:
      queue:
        name: default

  # Auto-label based on file changes
  - name: Label .NET changes
    conditions:
      - files~=\.cs$
    actions:
      label:
        add:
          - dotnet
          - csharp

  - name: Label project changes
    conditions:
      - files~=\.csproj$
    actions:
      label:
        add:
          - dotnet

  - name: Label workflow changes
    conditions:
      - files~=^\.github/workflows/
    actions:
      label:
        add:
          - ci-cd
          - github-actions

  - name: Label documentation changes
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - documentation

feat: upgrade MCP SDK to 0.4.1-preview.1 with M.E.AI 10.0.1
  CHANGELOG.md
  Directory.Packages.props
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.CoreTools/packages.lock.json
  src/Ancplua.Mcp.DebugTools/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/packages.lock.json
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.CoreTools.Tests/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: Label documentation changes

feat: upgrade MCP SDK to 0.4.1-preview.1 with M.E.AI 10.0.1 (#56)
  CHANGELOG.md
  Directory.Packages.props
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.CoreTools/packages.lock.json
  src/Ancplua.Mcp.DebugTools/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/packages.lock.json
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.CoreTools.Tests/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: Label documentation changes

fix(ci): add missing workflow features for AI review parity
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes

fix(ci): add missing workflow features for AI review parity (#58)
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes

feat(ci): Jules implements Claude's review suggestions
  .github/workflows/jules-auto-review.yml
  CHANGELOG.md
Due: Label workflow changes, Label documentation changes

security: fix code injection vulnerability in auto-merge.yml
  .github/workflows/auto-merge.yml
Due: Label workflow changes

feat(ci): Jules implements Claude's review suggestions (#59)
  .github/workflows/auto-merge.yml
  .github/workflows/jules-auto-review.yml
  CHANGELOG.md
Due: Label workflow changes, Label documentation changes

fix(claude.yml): filter bot comments to prevent workflow cascade
  .github/workflows/claude.yml
  CHANGELOG.md
Due: Label workflow changes, Label documentation changes

fix(claude.yml): filter bot comments to prevent workflow cascade (#60)
  .github/workflows/claude.yml
  CHANGELOG.md
Due: Label workflow changes, Label documentation changes

fix(workflows): security hardening + multi-AI Jules implementation
  .github/workflows/auto-merge.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes

fix(workflows): security hardening + multi-AI Jules implementation (#61)
  .github/workflows/auto-merge.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes

chore: update all docs and configs for src/ restructure
  .github/workflows/copilot-setup-steps.yml
  .mcp.json
  CHANGELOG.md
  CLAUDE.md
  Dockerfile.aiservices
  Dockerfile.http
  Dockerfile.workstation
  README.md
  ancplua-mcp.sln.DotSettings.user
  docs/ARCHITECTURE.md
  docs/examples/claude-workstation.mcp.json
  docs/examples/rider-workstation.mcp.json
  docs/servers.json
Due: Label workflow changes, Label documentation changes

chore: update all docs and configs for src/ restructure (#62)
  .github/workflows/copilot-setup-steps.yml
  .mcp.json
  CHANGELOG.md
  CLAUDE.md
  Dockerfile.aiservices
  Dockerfile.http
  Dockerfile.workstation
  README.md
  ancplua-mcp.sln.DotSettings.user
  docs/ARCHITECTURE.md
  docs/examples/claude-workstation.mcp.json
  docs/examples/rider-workstation.mcp.json
  docs/servers.json
Due: Label workflow changes, Label documentation changes

fix(ci): graceful skip for Claude workflow self-review
  .github/CODEOWNERS
  .github/workflows/claude-code-review.yml
Due: Label workflow changes

fix(ci): graceful skip for Claude workflow self-review (#63)
  .github/CODEOWNERS
  .github/workflows/claude-code-review.yml
Due: Label workflow changes

refactor(docs): lean README, extract to dedicated docs
  README.md
  docs/development.md
  docs/recommended-servers.md
Due: Label documentation changes

fix(ci): add permissions to check-files job (CodeQL CWE-275)
  .github/workflows/claude-code-review.yml
Due: Label workflow changes

fix(docs): address review feedback
  CHANGELOG.md
  docs/recommended-servers.md
Due: Label documentation changes

fix(docs): address nitpick feedback
  README.md
  docs/recommended-servers.md
Due: Label documentation changes

refactor(docs): lean README, extract to dedicated docs (#64)
  .github/workflows/claude-code-review.yml
  CHANGELOG.md
  README.md
  docs/development.md
  docs/recommended-servers.md
Due: Label workflow changes, Label documentation changes

chore: remove WhisperMesh protocol and NATS dependencies (#67)
  CHANGELOG.md
  Directory.Packages.props
  Dockerfile.workstation
  ancplua-mcp.sln
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/decisions/ADR-0107-whispermesh-protocol-adoption.md
  docs/specs/spec-0110-whispermesh-phase1-implementation.md
  docs/specs/spec-whispermesh-protocol.md
  docs/tool-contracts.md
  src/Libraries/WhisperMesh/Ancplua.Mcp.Libraries.WhisperMesh.csproj
  src/Libraries/WhisperMesh/Client/IWhisperMeshClient.cs
  src/Libraries/WhisperMesh/Client/NatsWhisperMeshClient.cs
  src/Libraries/WhisperMesh/Client/WhisperMeshClientOptions.cs
  src/Libraries/WhisperMesh/Discoveries/ArchitectureViolation.cs
  src/Libraries/WhisperMesh/Discoveries/CodeLocation.cs
  src/Libraries/WhisperMesh/Discoveries/ImplementationIssue.cs
  src/Libraries/WhisperMesh/Models/WhisperMessage.cs
  src/Libraries/WhisperMesh/Models/WhisperMetadata.cs
  src/Libraries/WhisperMesh/Models/WhisperTier.cs
  src/Libraries/WhisperMesh/Services/WhisperAggregator.cs
  src/Libraries/WhisperMesh/Tools/WhisperAggregatorTools.cs
  src/Libraries/WhisperMesh/packages.lock.json
  src/Servers/Stdio/Workstation/Program.cs
  src/Servers/Stdio/Workstation/appsettings.json
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WhisperMesh.Tests/DiscoveryTypeSerializationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/NatsWhisperMeshClientIntegrationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/WhisperAggregatorTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label .NET changes, Label project changes, Label documentation changes

1
  .gitignore
  .mcp.json
  CHANGELOG.md
  Directory.Packages.props
  ancplua-mcp.sln
  docs/decisions/ADR-0107-whispermesh-protocol-adoption.md
  docs/specs/spec-0110-whispermesh-phase1-implementation.md
  docs/specs/spec-whispermesh-protocol.md
  mcp-inspector.json
  src/Libraries/WhisperMesh/Ancplua.Mcp.Libraries.WhisperMesh.csproj
  src/Libraries/WhisperMesh/Client/IWhisperMeshClient.cs
  src/Libraries/WhisperMesh/Client/NatsWhisperMeshClient.cs
  src/Libraries/WhisperMesh/Client/WhisperMeshClientOptions.cs
  src/Libraries/WhisperMesh/Discoveries/ArchitectureViolation.cs
  src/Libraries/WhisperMesh/Discoveries/CodeLocation.cs
  src/Libraries/WhisperMesh/Discoveries/ImplementationIssue.cs
  src/Libraries/WhisperMesh/Models/WhisperMessage.cs
  src/Libraries/WhisperMesh/Models/WhisperMetadata.cs
  src/Libraries/WhisperMesh/Models/WhisperTier.cs
  src/Libraries/WhisperMesh/Services/WhisperAggregator.cs
  src/Libraries/WhisperMesh/Tools/WhisperAggregatorTools.cs
  src/Libraries/WhisperMesh/packages.lock.json
  src/Servers/Stdio/RoslynMetrics/PackageInspector.cs
  src/Servers/Stdio/RoslynMetrics/Program.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WhisperMesh.Tests/DiscoveryTypeSerializationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/NatsWhisperMeshClientIntegrationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/WhisperAggregatorTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label .NET changes, Label project changes, Label documentation changes

fix: dispose MemoryStream instances to prevent memory leaks
  src/Servers/Stdio/RoslynMetrics/PackageInspector.cs
Due: Label .NET changes

fix: PackageInspector MetadataLoadContext disposal bug (#68)
  .gitignore
  .mcp.json
  CHANGELOG.md
  mcp-inspector.json
  src/Servers/Stdio/RoslynMetrics/PackageInspector.cs
  src/Servers/Stdio/RoslynMetrics/Program.cs
Due: Label .NET changes, Label documentation changes

fix: regenerate HttpServer.Tests lock file
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
Due: none

fix: regenerate HttpServer.Tests lock file (#73)
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
Due: none
