Repository ANcpLua/ancplua-mcp: changes, and which Mergify rules are due for each by the changed paths.
All: Label .NET changes, Label workflow changes, Label documentation changes

.mergify.yml:

# Mergify Configuration
# Safe auto-merge rules for ancplua-mcp repository
# Documentation: https://docs.mergify.com

queue_rules:
  - name: default
    conditions:
      # All CI checks must pass
      - check-success=build-and-test
      - check-success=code-quality
      - check-success=codeql / Analyze (csharp)
      - check-success=secret-scan
      - check-success=security-scan

      # Require 2 approvals (matches GitHub ruleset)
      - "#approved-reviews-by>=2"

      # No unresolved conversations
      - "#changes-requested-reviews-by=0"

      # Branch must be up to date
      - base=main
      - -draft

pull_request_rules:
  # Auto-merge for Renovate dependency updates (minor/patch only)
  - name: Auto-merge Renovate minor/patch updates
    conditions:
      - author=renovate[bot]
      - check-success=build-and-test
      - check-success=code-quality
      - check-success=codeql / Analyze (csharp)
      - -title~=major
      - -label~=breaking
    actions:
      queue:
        name: default
        method: squash
        commit_message_template: |
          {{ title }} (#{{ number }})

          {{ body }}

  # Auto-merge for approved PRs from trusted contributors
  - name: Auto-merge approved PRs
    conditions:
      - "#approved-reviews-by>=2"
      - check-success=build-and-test
      - check-success=code-quality
      - check-success=codeql / Analyze (csharp)
      - check-success=secret-scan
      - check-success=security-scan
      - -draft
      - -label~=do-not-merge
      - -label~=work-in-progress
    actions:
      queue:
        name: default
        method: merge

  # Auto-label based on file changes
  - name: Label .NET changes
    conditions:
      - files~=\.cs$
      - files~=\.csproj$
    actions:
      label:
        add:
          - dotnet
          - csharp

  - name: Label workflow changes
    conditions:
      - files~=^\.github/workflows/
    actions:
      label:
        add:
          - ci-cd
          - github-actions

  - name: Label documentation changes
    conditions:
      - files~=\.md$
    actions:
      label:
        add:
          - documentation

fix: C# 14 analyzer compliance and MCP tool modernization
  .mcp.json
  CHANGELOG.md
  Directory.Build.props
  codecov.yml
  docs/decisions/ADR-0108-renovate-replaces-dependabot.md
  docs/decisions/ADR-0109-csharp-modernization-wave1.md
  docs/decisions/adr-007-modern-csharp-standards.md
  docs/examples/claude-http.mcp.json
  docs/examples/rider-workstation.mcp.json
  docs/servers.json
  docs/specs/spec-007-modern-configuration.md
  docs/specs/spec-0108-renovate-configuration.md
  src/Ancplua.Mcp.AIServicesServer/Models/AIServiceInfo.cs
  src/Ancplua.Mcp.AIServicesServer/Models/ServiceResponse.cs
  src/Ancplua.Mcp.AIServicesServer/Program.cs
  src/Ancplua.Mcp.AIServicesServer/Tools/ServiceDiscoveryTools.cs
  src/Ancplua.Mcp.CoreTools/Tools/CiTools.cs
  src/Ancplua.Mcp.CoreTools/Tools/FileSystemTools.cs
  src/Ancplua.Mcp.CoreTools/Tools/GitTools.cs
  src/Ancplua.Mcp.CoreTools/Utils/ProcessRunner.cs
  src/Ancplua.Mcp.DebugTools/DebugTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Program.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/AIOrchestrationTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/CodeRabbitTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/CodecovTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/GeminiCodeAssistTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/JulesTools.cs
  src/Ancplua.Mcp.HttpServer/Program.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Program.cs
  src/Ancplua.Mcp.ServiceDefaults/Extensions.cs
  src/Ancplua.Mcp.WorkstationServer/Program.cs
  tests/Ancplua.Mcp.CoreTools.Tests/CommandParserTests.cs
  tests/Ancplua.Mcp.CoreTools.Tests/FileSystemToolsTests.cs
  tests/Ancplua.Mcp.CoreTools.Tests/ProcessRunnerTests.cs
  tests/Ancplua.Mcp.HttpServer.Tests/ToolsTests.cs
  tests/Ancplua.Mcp.Testing/McpTestHost.cs
  tests/Ancplua.Mcp.WorkstationServer.Tests/ToolsTests.cs
  tooling/scripts/local-validate.sh
Due: Label documentation changes

build(nuget): deterministic restore with CPM + per-project lock files (#36)
  .gemini-clipboard/clipboard-1764028424385.png
  .gemini-clipboard/clipboard-1764028425486.png
  .gemini-clipboard/clipboard-1764030369517.png
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  Directory.Build.props
  README.md
  src/Ancplua.Mcp.DebugTools/packages.lock.json
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
Due: Label workflow changes, Label documentation changes

docs: add C#14 modernization spec-0109 and update CHANGELOG
  docs/specs/spec-0109-csharp-modernization-wave1.md
Due: Label documentation changes

refactor(AIServiceInfo): use collection expression per spec-0109
  src/Ancplua.Mcp.AIServicesServer/Models/AIServiceInfo.cs
Due: none

fix(workflows): upgrade Claude workflow permissions to write
  .github/workflows/claude.yml
Due: Label workflow changes

docs(spec): add spec-0110 WhisperMesh Phase 1 implementation
  docs/specs/spec-0110-whispermesh-phase1-implementation.md
Due: Label documentation changes

fix(codecov): realistic patch target and correct flag paths
  codecov.yml
Due: none

docs: add quad-AI code review system documentation
  .github/copilot-instructions.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
Due: Label documentation changes

refactor: modernize CoreTools with .NET 9+ patterns
  src/Ancplua.Mcp.CoreTools/Tools/FileSystemTools.cs
  src/Ancplua.Mcp.CoreTools/Utils/ProcessRunner.cs
Due: none

Delete .idea/.idea.ancplua-mcp/.idea directory
  .idea/.idea.ancplua-mcp/.idea/indexLayout.xml
  .idea/.idea.ancplua-mcp/.idea/projectSettingsUpdater.xml
  .idea/.idea.ancplua-mcp/.idea/vcs.xml
  .idea/.idea.ancplua-mcp/.idea/workspace.xml
Due: none

fix(mergify): correct queue action syntax for Mergify v3
  .mergify.yml
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: Label documentation changes

fix(mergify): correct queue action syntax for Mergify v3 (#47)
  .mergify.yml
Due: none

fix(roslyn): complete RoslynMetricsServer implementation with CA compliance
  Directory.Packages.props
  ancplua-mcp.sln
  src/Ancplua.Mcp.AIServicesServer/Models/AIServiceInfo.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Ancplua.Mcp.RoslynMetricsServer.csproj
  src/Ancplua.Mcp.RoslynMetricsServer/ArchitectureExtensions.cs
  src/Ancplua.Mcp.RoslynMetricsServer/CodeMetricsExtensions.cs
  src/Ancplua.Mcp.RoslynMetricsServer/MetricsAnalyzer.cs
  src/Ancplua.Mcp.RoslynMetricsServer/MetricsQuery.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Program.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/ArchitectureTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/NuGetTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/RoslynMetricsTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  tests/Directory.Build.props
Due: Label .NET changes

build: temporarily exclude WhisperMesh pending NATS 2.x migration
  Dockerfile.workstation
  src/Ancplua.Mcp.WorkstationServer/Ancplua.Mcp.WorkstationServer.csproj
  src/Ancplua.Mcp.WorkstationServer/Program.cs
Due: Label .NET changes

fix(docker): add WhisperMesh to Dockerfile.workstation
  Dockerfile.workstation
Due: none

fix(tests): remove unnecessary async from synchronous test
  tests/Ancplua.Mcp.CoreTools.Tests/ProcessRunnerTests.cs
Due: none

feat(roslyn): add PackageInspector for AI agent self-learning + major refactor
  .mergify.yml
  Directory.Packages.props
  src/Ancplua.Mcp.RoslynMetricsServer/Ancplua.Mcp.RoslynMetricsServer.csproj
  src/Ancplua.Mcp.RoslynMetricsServer/ArchitectureExtensions.cs
  src/Ancplua.Mcp.RoslynMetricsServer/CodeMetricsExtensions.cs
  src/Ancplua.Mcp.RoslynMetricsServer/CompilationFactory.cs
  src/Ancplua.Mcp.RoslynMetricsServer/MetricsAnalyzer.cs
  src/Ancplua.Mcp.RoslynMetricsServer/MetricsQuery.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Models.cs
  src/Ancplua.Mcp.RoslynMetricsServer/PackageInspector.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/ArchitectureTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/NuGetTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/PackageInspectorTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/RoslynMetricsTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
Due: Label .NET changes

feat(whispermesh): Phase 1 - Dolphin Pod Workflow Integration (#46)
  .mergify.yml
  Directory.Packages.props
  Dockerfile.workstation
  ancplua-mcp.sln
  docker-compose.yml
  docs/tool-contracts.md
  src/Ancplua.Mcp.AIServicesServer/Models/AIServiceInfo.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Ancplua.Mcp.RoslynMetricsServer.csproj
  src/Ancplua.Mcp.RoslynMetricsServer/CompilationFactory.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Models.cs
  src/Ancplua.Mcp.RoslynMetricsServer/PackageInspector.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Program.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/ArchitectureTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/NuGetTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/PackageInspectorTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/Tools/RoslynMetricsTools.cs
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  src/Ancplua.Mcp.WhisperMesh/Client/IWhisperMeshClient.cs
  src/Ancplua.Mcp.WhisperMesh/Client/NatsWhisperMeshClient.cs
  src/Ancplua.Mcp.WhisperMesh/Client/WhisperMeshClientOptions.cs
  src/Ancplua.Mcp.WhisperMesh/Services/WhisperAggregator.cs
  src/Ancplua.Mcp.WhisperMesh/Tools/WhisperAggregatorTools.cs
  src/Ancplua.Mcp.WorkstationServer/Ancplua.Mcp.WorkstationServer.csproj
  src/Ancplua.Mcp.WorkstationServer/Program.cs
  src/Ancplua.Mcp.WorkstationServer/appsettings.json
  tests/Ancplua.Mcp.CoreTools.Tests/ProcessRunnerTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WhisperMesh.Tests/NatsWhisperMeshClientIntegrationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/WhisperAggregatorTests.cs
  tests/Directory.Build.props
Due: Label .NET changes, Label documentation changes

ci: remove TruffleHog (redundant with GitGuardian)
  .github/workflows/ci.yml
  .mergify.yml
Due: Label workflow changes

ci: remove TruffleHog (redundant with GitGuardian) (#48)
  .github/workflows/ci.yml
  .mergify.yml
Due: Label workflow changes

fix(build): resolve CA violations and harden NuGet supply chain
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  Directory.Packages.props
  renovate.json
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.DebugTools/Tools/BinaryInspector.cs
  src/Ancplua.Mcp.DebugTools/Tools/InspectorMcp.cs
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/appsettings.Development.json
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: Label .NET changes, Label workflow changes, Label documentation changes

chore: minor cleanup and gitignore updates
  .gitignore
  tests/Ancplua.Mcp.WorkstationServer.Tests/ToolsTests.cs
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: Label workflow changes

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: Label workflow changes

Add claude GitHub actions 1764335279074 (#51)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: Label workflow changes

fix(build): resolve CA violations and harden NuGet supply chain (#50)
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  Directory.Packages.props
  renovate.json
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.DebugTools/Tools/BinaryInspector.cs
  src/Ancplua.Mcp.DebugTools/Tools/InspectorMcp.cs
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/appsettings.Development.json
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WorkstationServer.Tests/ToolsTests.cs
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: Label .NET changes, Label workflow changes, Label documentation changes

feat: enable penta-AI autonomous agent system
  .gemini/code-review-guide.md
  .github/copilot-instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/mcp-server.instructions.md
  .github/instructions/security.instructions.md
  .github/workflows/auto-merge.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes, Label documentation changes

fix: use standard secret names in copilot-setup-steps
  .github/workflows/copilot-setup-steps.yml
Due: Label workflow changes

fix: remove environment requirement and GEMINI_API_KEY
  .github/workflows/copilot-setup-steps.yml
Due: Label workflow changes

feat(ci): enable Claude merge capability with Opus 4.5
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: Label workflow changes

feat: enable penta-AI autonomous agent system (#53)
  .gemini/code-review-guide.md
  .github/copilot-instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/mcp-server.instructions.md
  .github/instructions/security.instructions.md
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/jules-auto-review.yml
Due: Label workflow changes, Label documentation changes

fix(whispermesh): complete NATS 2.x migration and fix CA violations
  CHANGELOG.md
  Directory.Packages.props
  tests/Ancplua.Mcp.WhisperMesh.Tests/NatsWhisperMeshClientIntegrationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/WhisperAggregatorTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label documentation changes

[WIP] Migrate WhisperMesh to NATS 2.x API (#52)
  CHANGELOG.md
  Directory.Packages.props
  src/Ancplua.Mcp.WhisperMesh/Ancplua.Mcp.WhisperMesh.csproj
  src/Ancplua.Mcp.WhisperMesh/Client/NatsWhisperMeshClient.cs
  src/Ancplua.Mcp.WhisperMesh/Client/WhisperMeshClientOptions.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ArchitectureViolation.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ImplementationIssue.cs
  src/Ancplua.Mcp.WhisperMesh/Models/WhisperMessage.cs
  src/Ancplua.Mcp.WhisperMesh/Services/WhisperAggregator.cs
  src/Ancplua.Mcp.WhisperMesh/Tools/WhisperAggregatorTools.cs
  src/Ancplua.Mcp.WhisperMesh/packages.lock.json
  tests/Ancplua.Mcp.WhisperMesh.Tests/NatsWhisperMeshClientIntegrationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/WhisperAggregatorTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label .NET changes, Label documentation changes

chore(ci): upgrade Claude workflows to actions/checkout@v6
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: Label workflow changes

chore(ci): upgrade Claude workflows to actions/checkout@v6 (#54)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: Label workflow changes

docs: add dual-repo workflow guidance
  CLAUDE.md
  tooling/scripts/local-validate.sh
Due: Label documentation changes

docs: add dual-repo workflow guidance (#55)
  CLAUDE.md
  tooling/scripts/local-validate.sh
Due: Label documentation changes
