Repository ANcpLua/ancplua-mcp: changes, and which Mergify rules are due for each by the changed paths.
All: Label .NET code changes, Label documentation changes, Label CI/workflow changes

Label .NET code changes:
  label:
    add:
    - dotnet

Label documentation changes:
  label:
    add:
    - documentation

Label CI/workflow changes:
  label:
    add:
    - ci

Gate auto-review merges on required checks
  .github/workflows/jules-auto-reviewer.yml
Due: Label CI/workflow changes

Update Mergify config and documentation for AI services integration
  .github/workflows/megalinter.yml
  .mergify.yml
  README.md
  docs/MCP_COMPLETE_SETUP.md
Due: Label documentation changes, Label CI/workflow changes

Fix Docker workflow action versions
  .github/workflows/docker-build-push.yml
Due: Label CI/workflow changes

Remove dangerous pr-review.yml workflow
  .github/workflows/pr-review.yml
Due: Label CI/workflow changes

Fix namespace imports for MCP SDK 0.4.0 compatibility
  .idea/.idea.ancplua-mcp/.idea/workspace.xml
  src/Ancplua.Mcp.HttpServer/Tools/CiTools.cs
  src/Ancplua.Mcp.HttpServer/Tools/FileSystemTools.cs
  src/Ancplua.Mcp.HttpServer/Tools/GitTools.cs
  tests/Ancplua.Mcp.HttpServer.Tests/ToolsTests.cs
  tests/Ancplua.Mcp.Testing/McpTestHost.cs
  tests/Ancplua.Mcp.WorkstationServer.Tests/ToolsTests.cs
Due: Label .NET code changes

Disable Jules workflows - action does not exist
  .github/workflows/jules-auto-reviewer.yml
  .github/workflows/jules-cleanup.yml
Due: Label CI/workflow changes

fix: Include DebugTools and ServiceDefaults in Dockerfiles
  Dockerfile.http
  Dockerfile.workstation
Due: none

fix(ci): Disable NuGet caching in copilot-setup-steps
  .github/workflows/copilot-setup-steps.yml
Due: Label CI/workflow changes

feat: Enable NuGet lock files for deterministic builds
  .github/workflows/copilot-setup-steps.yml
  Directory.Build.props
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.DebugTools/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: Label CI/workflow changes

fix: Update Mergify config to current API syntax
  .mergify.yml
Due: none

fix(ci): Add cache-dependency-path for NuGet lock files
  .github/workflows/copilot-setup-steps.yml
Due: Label CI/workflow changes

fix: Allow nuget.org fallback for Microsoft packages
  NuGet.config
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/packages.lock.json
  tests/Ancplua.Mcp.WorkstationServer.Tests/packages.lock.json
Due: none

fix(ci): Remove jules-auto-reviewer.yml workflow
  .github/workflows/jules-auto-reviewer.yml
Due: Label CI/workflow changes

fix(ci): Remove jules-cleanup.yml workflow
  .github/workflows/jules-cleanup.yml
Due: Label CI/workflow changes

fix(ci): Remove pr-review.yml with non-existent jules-action
  .github/workflows/pr-review.yml
Due: Label CI/workflow changes

fix(docs): Add required 'type' field to MCP config examples
  docs/examples/claude-http.mcp.json
  docs/examples/claude-workstation.mcp.json
  docs/examples/rider-workstation.mcp.json
Due: none

fix(docs): Add required 'type' and 'tools' fields to MCP configs
  docs/examples/claude-http.mcp.json
  docs/examples/claude-workstation.mcp.json
  docs/examples/rider-workstation.mcp.json
Due: none

feat: add auto-merge workflow for Dependabot and CodeRabbit
  .github/workflows/auto-merge.yml
Due: Label CI/workflow changes

chore: update dependabot.yml with grouping and scheduling
  .github/dependabot.yml
Due: none

fix: Set IsPackable=false for DebugTools library
  src/Ancplua.Mcp.DebugTools/Ancplua.Mcp.DebugTools.csproj
Due: none

feat(jules): Refactor to programmatic API integration
  CHANGELOG.md
  Directory.Packages.props
  docs/examples/jules-chatops.yml
  src/Ancplua.Mcp.AIServicesServer/Tools/ServiceDiscoveryTools.cs
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/Program.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/AIOrchestrationTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/Tools/JulesTools.cs
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/Extensions.cs
  tests/Ancplua.Mcp.Testing/packages.lock.json
Due: Label .NET code changes, Label documentation changes

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: Label CI/workflow changes

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: Label CI/workflow changes

fix(nuget): Resolve .NET 10 build warnings and package conflicts
  CHANGELOG.md
  Directory.Packages.props
  NuGet.config
  src/Ancplua.Mcp.AIServicesServer/Ancplua.Mcp.AIServicesServer.csproj
  src/Ancplua.Mcp.AIServicesServer/packages.lock.json
  src/Ancplua.Mcp.CoreTools/packages.lock.json
  src/Ancplua.Mcp.DebugTools/Ancplua.Mcp.DebugTools.csproj
  src/Ancplua.Mcp.DebugTools/packages.lock.json
  src/Ancplua.Mcp.GitHubAppsServer/Ancplua.Mcp.GitHubAppsServer.csproj
  src/Ancplua.Mcp.GitHubAppsServer/packages.lock.json
  src/Ancplua.Mcp.HttpServer/packages.lock.json
  src/Ancplua.Mcp.ServiceDefaults/Ancplua.Mcp.ServiceDefaults.csproj
  src/Ancplua.Mcp.ServiceDefaults/packages.lock.json
  src/Ancplua.Mcp.WhisperMesh/Ancplua.Mcp.WhisperMesh.csproj
  src/Ancplua.Mcp.WhisperMesh/packages.lock.json
  src/Ancplua.Mcp.WorkstationServer/Ancplua.Mcp.WorkstationServer.csproj
  src/Ancplua.Mcp.WorkstationServer/packages.lock.json
  tests/Ancplua.Mcp.CoreTools.Tests/packages.lock.json
  tests/Ancplua.Mcp.HttpServer.Tests/packages.lock.json
  tests/Ancplua.Mcp.Testing/Ancplua.Mcp.Testing.csproj
  tests/Ancplua.Mcp.Testing/packages.lock.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: Label CI/workflow changes

fix(ci): Remove CodeQL job that conflicts with default setup
  .github/workflows/ci.yml
Due: Label CI/workflow changes

feat: Add automatic dual-AI code review (Claude + Jules)
  .github/workflows/jules-auto-review.yml
  CHANGELOG.md
  CLAUDE.md
Due: Label CI/workflow changes

feat: Automatic dual-AI code review (Claude + Jules) (#38)
  .github/workflows/jules-auto-review.yml
  CHANGELOG.md
  CLAUDE.md
Due: Label CI/workflow changes

chore: Update packages.lock.json
  src/Ancplua.Mcp.DebugTools/packages.lock.json
Due: none

chore: Remove .gemini-clipboard/ and add to .gitignore
  .gemini-clipboard/clipboard-1764028424385.png
  .gemini-clipboard/clipboard-1764028425486.png
  .gemini-clipboard/clipboard-1764030369517.png
  .gitignore
Due: none

docs: Add AI Code Review Configuration to CLAUDE.md
  .github/workflows/ci.yml
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
Due: Label CI/workflow changes

build(nuget): enable deterministic restore with locked mode in CI
  CHANGELOG.md
  Directory.Build.props
  README.md
  src/Ancplua.Mcp.RoslynMetricsServer/packages.lock.json
Due: none

feat(whispermesh): ADR-0107 + discovery types for Dolphin Pod
  docs/decisions/ADR-0107-whispermesh-protocol-adoption.md
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ArchitectureViolation.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/CodeLocation.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ImplementationIssue.cs
  src/Ancplua.Mcp.WhisperMesh/Models/WhisperMetadata.cs
  src/Ancplua.Mcp.WhisperMesh/Models/WhisperTier.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WhisperMesh.Tests/DiscoveryTypeSerializationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label .NET code changes, Label documentation changes

feat(whispermesh): ADR-0107 + discovery types for Dolphin Pod (#39)
  docs/decisions/ADR-0107-whispermesh-protocol-adoption.md
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ArchitectureViolation.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/CodeLocation.cs
  src/Ancplua.Mcp.WhisperMesh/Discoveries/ImplementationIssue.cs
  src/Ancplua.Mcp.WhisperMesh/Models/WhisperMetadata.cs
  src/Ancplua.Mcp.WhisperMesh/Models/WhisperTier.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/Ancplua.Mcp.WhisperMesh.Tests.csproj
  tests/Ancplua.Mcp.WhisperMesh.Tests/DiscoveryTypeSerializationTests.cs
  tests/Ancplua.Mcp.WhisperMesh.Tests/packages.lock.json
Due: Label .NET code changes, Label documentation changes

Enhance Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: Label CI/workflow changes

chore(codecov): optimize configuration with components and annotations
  codecov.yml
Due: none

Path conditions:
  Label .NET code changes: any of: \.cs$
  Label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Label CI/workflow changes: any of: ^\.github/workflows/
